<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"
    xmlns:gap = "http://phonegap.com/ns/1.0"
    id        = "com.phonegap.serverArgumedo"
    version   = "1.0.0">
	
<icon src="imgs/app.jpg" />
<name>Remote Server Connection app</name>

<description>
Control basico remoto de un servidor.
</description>

<author href="random" email="gowpga@hotmail.com">
Jonathan Argumedo Montenegro
</author>

</widget>
